*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header .head1
{
	padding: 20px;
	background-color: #7c4dff;
	overflow: auto;
}

header .title
{
	float: left;
	font-size: 21px;
	color: white;
}
header .search
{
	float: right;
}

header .search input
{
    padding: 6px;
    border: none;
    border-radius: 7px;
    text-indent: 8px;
}